services:
  postgres:
    image: postgres:16
    container_name: ecommerce-db
    restart: always
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: ecommerce
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
        
  api: 
    build:
      context: .
      dockerfile: Ecommerce.Api/Dockerfile
    container_name: ecommerce-api
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTPS_PORT: ""
      ConnectionString__Default:
        Host=postgres;Port=5432;Database=ecommerce;Username=ecommerce;Password=secret
    ports:
      - "5075:8080"
      - "7207:8081"
        
  admin:
    build:
      context: .
      dockerfile: Ecommerce.Admin/Dockerfile
    container_name: ecommerce-admin
    depends_on:
      - api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTPS_PORT: ""
      ApiSettings__BaseUrl: http://api:8080
    ports:
      - "5002:8080"
    volumes:
      - dpkeys:/root/.aspnet/DataProtection-Keys
        
volumes:
  pgdata:
  dpkeys: